.product-name {
    color: white;

}

.sidebar-inner-container {
    margin-left: 10px;
    margin-top: 40px;
}

.sidebar-nav {
    color:white;
    margin-top: 40px;
}

.sidebar-nav > ul > li {
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 20px;
}

.nav-item {
    font-size: 22px;
    font-weight: 200;
}

.logout-button {
    position: fixed;
    bottom: 0;
}

.sidebar-text {
    color: white;
}